:root {
    --Blanc : #ffffff;
    --Noir : #000000;
    --Orange : #ff6347;
    --Gris : #797878;
    --Gris_clair : #d9d7d7;
}


body {
    font-family: 'Arvo', serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

/* Entête de la page */

/*Menu*/
header nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: var(--Noir);
    padding: 15px 15px 6px 15px;
    text-decoration: none;
    color: var(--Blanc);
}

.menuderoulant { 
    border: 0.5px solid var(--Gris);
    border-radius: 2px;
    padding: 4px 5px 0 5px;
    
}
.menuderoulant img {
    filter : invert(100%); /*fill: var(--white); uniquement pour format svg*/
}

.Liens-ordi {
    display : none;
}

/*Présentation*/
header section {
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-image: url(../images/hero-image.jpg);
    background-position: top left;
    height: auto; /* background-size : cover; -> couvrir le texte */
    width: auto;
    color: var(--Blanc);
}

header section h1 {
    width: 70%;
    margin: 55px auto 0 auto;
    font-weight: normal;
}

header section p {
    width: 70%;
    font-size: 0.9rem;
    font-weight: normal;
    margin: 35px auto;
}

header section a {
    background-color: var(--Orange);
    color: var(--Blanc);
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 35px;
}

.Code {
    width: 80px;
    align-items: center;
    margin: 0 auto 30px auto;
}


/*Corps de la page */

/* WHO WE ARE  */
.center {
    display: flex;
    flex-direction: column;
}

.center img {
    width : 50%;
    margin: auto;
    margin-top: 80px;
}

.center h1 {
    font-size: 2.3rem;
    color: var(--Orange);
    font-weight: lighter;
    margin : 20px auto 10px auto ;
}

.center p {
    width: 90%;
    margin: 30px auto; 
}

.separation {
    border-bottom:1px solid var(--Orange);
    width: 50%;
    margin: auto;
}

/*GET INVOLVED*/

.bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--Gris_clair);
    padding-bottom: 50px;
    
}

.bottom h2 {
    color: var(--Orange);
    font-weight: lighter;
    margin : 30px auto 10px auto;
    font-size: 2rem;
}

.bottom p {
    margin: 0 auto 20px auto;
    width: 90%;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: var(--Noir);
    border-radius: 50%;
    position: relative;
    margin :50px auto 20px auto;
}

.circle img {
    position : absolute;
    top : 20px;
    left : 20px;
    filter : invert(100%);
    width: 60%;
}

.bottom article a {
    border: 1px solid var(--Gris) ;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 0.7rem;
    color: var(--Orange);
    text-decoration: none;
    background-color: var(--Blanc);
}



/*Pied de page*/

footer {
    background-color: var(--Orange);
    padding: 120px 0 30px 0;
}

footer img {
    width: 80%;
    margin-right: 10%;
}

/*Variables*/
/*Majuscule*/
.uppercase {
    text-transform: uppercase;
}

/*Couleur*/
.orange {
    color: var(--Orange);
}

/*Gras*/
.bold {
    font-weight: bold;
}









/* Ordianateur */
@media (min-width:1200px) {
    /*Disparition du menu*/
    .menuderoulant{
        display : none;
    }

    /*Apparition des liens*/
    .Liens-ordi{
        display:block
    }
    
    .Liens-ordi ul {
        display: flex;
        list-style: none;
        gap: 30px;
        margin: auto;
    }

    .Liens-ordi ul li a {
        color: var(--Blanc);
        text-decoration: none;
    }

    /* Menu */
    header nav {
    padding: 20px 300px 10px 300px;
    }

    header section h1 {
        font-size: 4rem;
        width: 55%;
    }
    
    header section p {
        width: 65%;
        font-size: 1.2rem;
    }
    
    header section a {
        font-size: 1.5rem;
    }
    

    /* WHO WE ARE  */
    .center img {
        width : 8%;
    }

    .center h1 {
        font-size: 2.0rem;
    }

    .center p {
        width: 70%;
        font-size: 1.2rem;
        margin-bottom: 50px;
    }

    .separation {
        width: 10%;
    }

    /*GET INVOLVED*/

    .articles {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 70%;
        margin: auto;
    }

    .bottom p {
        font-size: 1.2rem;
        width: 90%;
    }


    /*Pied de page*/

    footer img {
        width: 20%;
        margin-right: 45%;
    }
    
}