:root {
    --Blanc : #ffffff;
    --Noir : #000000;
    --Orange : #ff6347;
    --Gris : #797878;
    --Gris_clair : #d9d7d7;
}


body {
    font-family: 'Arvo', serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

/* Entête de la page */

header nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-color: var(--Noir);
    padding: 15px 15px 6px 15px;
}

header nav {
    text-decoration: none;
    color: var(--Blanc);
}

.menuderoulant { 
    border: 0.5px solid var(--Gris);
    border-radius: 2px;
    padding: 4px 5px 0 5px;
    
}
.menuderoulant img {
    filter : invert(1000%);
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-image: url(../images/hero-image.jpg);
    background-position: top left;
    aspect-ratio: 1467 /2200;
}

header section h1 {
    color: var(--Blanc);
    width: 70%;
    margin: 50px auto 0 auto;
    font-weight: lighter;
}

header section p {
    width: 70%;
    color: var(--Blanc);
    font-size: 0.9rem;
    font-weight: lighter;
    margin: 30px auto;
}

header section a {
    border: 1px solid var(--Orange);
    background-color: var(--Orange);
    color: var(--Blanc);
    padding: 15px 15px;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 30px;
}

.Code {
    width: 20%;
    align-items: center;
}


/*Corps de la page */

/* Principal */
.center {
    display: flex;
    flex-direction: column;
}

.center img {
    width : 50%;
    margin: auto;
    margin-top: 80px;
}

.center h1 {
    font-size: 2.3rem;
    color: var(--Orange);
    font-weight: lighter;
    margin : 20px auto 10px auto ;
}

.center p {
    width: 90%;
    margin: 30px auto;
    
}

/*Bas du corps*/

.bottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: var(--Gris_clair);
    padding-bottom: 50px;
    
}

.get_involved {
    font-size: 2rem;
}

.bottom h2 {
    color: var(--Orange);
    font-weight: lighter;
    margin : 30px auto 10px auto;
}

.bottom p {
    margin: 0 auto 20px auto;
    width: 90%;
}

.separation {
    border-bottom:1px solid var(--Orange);
    width: 50%;
    margin: auto;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: var(--Noir);
    border-radius: 50%;
    position: relative;
    margin :50px auto 20px auto;
}

.circle img {
    position : absolute;
    top : 20px;
    left : 20px;
    filter : invert(100%);
    width: 60%;
}

.bottom article a {
    border: 1px solid var(--Gris) ;
    padding: 8px 10px;
    border-radius: 5px;
    font-size: 0.7rem;
    color: var(--Orange);
    text-decoration: none;
}



/*Bas de page*/

footer {
    background-color: var(--Orange);
    padding: 120px 0 30px 0;
}

footer img {
    width: 80%;
    margin-right: 10%;
}


.uppercase {
    text-transform: uppercase;
}

.orange {
    color: var(--Orange);
}

.bold {
    font-weight: bold;
}





/* Ordianateur */
@media (min-width:1200px) {

}